.banner-image-LN {
    height: 100%;
    background-image: url(../assets/images/LN-Main.1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    }